<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/v1">V1</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/v2">V2</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/v3">V3</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/v3-val">V3 with validation</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/v4">V4</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
